@import url('https://fonts.googleapis.com/css?family=Barlow|Raleway&display=swap');

:root{
  --global-blue-color : #4F30D4;
  --global-pink-color: #D45C90;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --global-font-cool: 'Raleway', sans-serif;
  --global-font-main: 'Barlow', sans-serif;
}

