form.forms-page__form
    div.form-group
        input.form-control.forms-page__input(placeholder='alpha_1' name='alpha_1')
    div.form-group
        input.form-control.forms-page__input(placeholder='alpha_2' name='alpha_2')
    button.btn.forms-page__button submit